  
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    padding: 0px;
}

body{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0px;
    color: rgb(97, 95, 95);
}
.theme-selector .label {
    top: -10px;
    position: relative;
    padding: 0px 10px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(45, 73, 201);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(45, 73, 201);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }